<div class='well'>

	<ul id="chat" >
  	<%= render @messages %>
	</ul>

</div>

<div class='well' id='message'>
	<%= form_for Message.new, remote: true do |f| %>
	  <%= f.text_field :content, :class => 'input-small input-xxlarge', :placeholder => 'digite sua mensagem' %>
	  <%= f.submit "Enviar", :class => 'btn btn-success' %>
	<% end %>
</div>
<%= subscribe_to "/messages/new" %>